In [39]:
#Q1.	Write a Python program to convert kilometers to miles?

#convert kilometers to miles:
KM=float(input("Enter KMs = "))
Conv=0.62
Miles=KM*Conv

print(f"{KM} kms is equal to {Miles} miles")

#convert miles to kilometers:
Miles=float(input("Enter Miles = "))
Conv=1.60
KMs=Miles*Conv

print(f"{Miles} miles is equal to {KMs} kms")

Enter KMs = 1
1.0 kms is equal to 0.62 miles
Enter Miles = 1
1.0 miles is equal to 1.6 kms

In [35]:
#Q2.	Write a Python program to convert Celsius to Fahrenheit?

# Celsius = (Fahrenheit â€“ 32) * 5/9
# Fahrenheit = (Celsius * 9/5) + 32

#convert Celsius to Fahrenheit:
cel = float(input("Enter temperature in Celsius = "))
fah = (cel * 1.8) + 32
print(f"{cel} Celsius is {fah} Fahrenheit")

#convert Fahrenheit to Celsius:
fah = float(input("Enter temperature in Fahrenheit = "))
cel = (fah - 32) * 9/5
print(f"{fah} Fahrenheit is {cel} Celsius")

Enter temperature in Celsius = 0
0.0 Celsius is 32.0 Fahrenheit
Enter temperature in Fahrenheit = 32
32.0 Fahrenheit is 0.0 Celsius

In [37]:
#Q3.	Write a Python program to display calendar?
import calendar

# mm=int(input("Enter Month = "))
yy=int(input("Enter Year = "))

print(calendar.calendar(yy))

Enter Year = 2021
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [50]:
#Q4.	Write a Python program to solve quadratic equation?
# import complex math module
import cmath

# To take coefficient input from the users:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = float(input("Enter c = "))

# calculate the discriminant value:
d = (b**2) - (4*a*c)

# find two solutions:
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print(f'The solution are {sol1} and {sol2}')

Enter a = 1
Enter b = 5
Enter c = 4
The solution are (-4+0j) and (-1+0j)

In [21]:
#Q5.	Write a Python program to swap two variables without temp variable?
x=float(input("Enter value of x = "))
y=float(input("Enter value of y = "))
x,y=y,x
print("Swap Value of x = ", x)
print("Swap Value of y = ", y)

Enter value of x = 3.5
Enter value of y = 7
Swap Value of x =  7.0
Swap Value of y =  3.5